/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 1rem;
  margin: 10px 0;
  height: 80px;
  border-bottom: 1px solid gray;
  line-height: 1.4em;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}

/* Individual stories */

.story-link {
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  /* margin-left: 2em; */
  color: green;
  font-size: 0.9rem;
  font-weight: bold;
}

.author-username-div {
  margin-left: 30px;

}

.story-user {
  display: block;
  color: #f4a23a;
  font-weight: bold;
}

li i {
  width: 30px;
}

.edit-delete-story-div {
  /* margin-left: auto; */
  margin-left: auto;

}

.auth-postby-trash {
  display: flex;
}

.edit-story {
  border: none;
  background-color: transparent;
  color: green;
}

.auth-postby-trash i {
  /* margin-left: auto; */
  cursor: pointer;
  margin: 0 20px;
  
}

i {
  cursor: pointer;
}
