/* Login and signup forms */


#signup-form button {
  width: 8rem;
}

.account-forms-container {
  padding-left: 20px;
}

.error-msg {
  color: red;
  height: 20px;
  margin: 0 ;
  margin-left: 80px;
}


#new-story-form .error-msg {
  margin-left: 256px;
}